/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

@import url('https://fonts.googleapis.com/css?family=PT+Mono|Rubik');

/* UNIVERSAL */

html,
body {
/*  height: 100%;
  width: 100%;*/
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  scroll-behavior: smooth;
}

/* ROOT FONT STYLES */

* {
  font-family: 'PT Mono', monospace;
  color: #fff;
}

/* TYPOGRAPHY */

h1, h2, h3, h4, label {
  font-family: 'Rubik', sans-serif;
  color: #fe008b;
}

label{
  font-size: 12pt;
  line-height: 30px;
}

a:link, a:visited, a:hover, a:active{
  color: #fe008b;
  text-decoration: none;
  font-weight: 600;
}

a:hover{
  text-decoration: underline;
}

a.music_link{
  color: #ffffff;
}

a.music_link:hover{
  opacity: .5;
  text-decoration: none;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.darken{
background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(/images/imgBloc1.jpg);
    background-position: top;
}

.show_full_only{
  display: none;
}


/*.table_wrapper{
  display: table;
  width: 100%;
  height: 100%;
  padding-top: 25%;
}*/

.text_wrapper{
  display: table-cell;
  vertical-align: middle;
  padding-right: 15%;
  padding-left: 15%;
  height: 100%;
}

.scrollable_text{
  width: 100%;
  overflow-y: scroll;
  padding-bottom: 10%;

}

/*SCROLL DOWN ARROW*/
.scroll_down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation:    fade_move_down 4s ease-in-out infinite;
  animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}


/*SCROLL UP*/
.scroll_up {
  position: absolute;
  left: 50%;
  bottom: 20px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(225deg);
  -moz-transform: translate(-50%, 0%) rotate(225deg);
  transform: translate(-50%, 0%) rotate(225deg);
  -webkit-animation: fade_move_up 4s ease-in-out infinite;
  -moz-animation:    fade_move_up 4s ease-in-out infinite;
  animation:         fade_move_up 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_up {
  0%   { -webkit-transform:translate(0,10px) rotate(225deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,-10px) rotate(225deg); opacity: 0; }
}
@-moz-keyframes fade_move_up {
  0%   { -moz-transform:translate(0,10px) rotate(225deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,-10px) rotate(225deg); opacity: 0; }
}
@keyframes fade_move_up {
  0%   { transform:translate(0,10px) rotate(225deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,-10px) rotate(225deg); opacity: 0; }
}

/*STYLES DE LISTES*/
ul.event_list, ul.music_link_list{
  list-style-type: none;
  margin-left: 0;
  padding-left: 0px;
}

li{
  padding-bottom:3px;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 100%;
  background-color: #1a23fd;
  margin: auto;

}

.row {
  position: relative;
  /*width: 100%;*/
  height: 100vh;
  max-height: 920px;
}

.row [class^="col"] {
  float: left;
  margin: 0;
  min-height: 100vh;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 100%;
  height: 100vh;
  max-height: 910px;
  background-color: #1a23fd;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.hidden-sm {
  display: none;
}

.text_wrapper{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  
}

li{
  font-size: 10pt;
}


@media (min-width: 820px) {
  .row {
    width: 100%;
  }

  .col-6 {
    width: 50%;
  }

  .show_status {
    display: none;
  }

  .show_full_only {
    display: block;
  }

  .scrollable_text {
    height: 100%;
    max-height: 60%;
  }
}
