<!DOCTYPE html>
<html>
  {{ partial "header.html" . }}
  <body>

		<div class="background">
				<div class="shape shape-1"></div>
				<div class="shape shape-2"></div>
				<div class="shape shape-3"></div>
				<div class="shape shape-4"></div>
				<div class="shape shape-5"></div>
		</div>
    <div class="content">
      {{ partial "head.html" . }}

        <main>
	        <article>
		        <div class="title">
			        <h1 class="title">{{ with .Site.GetPage "/homepage/index.md" }}{{ .Title }}{{ end }}</h1>
		        </div>
		        {{ if isset .Params "tldr" }}
		        <div class="tldr">
			        <strong>tl;dr:</strong>
			        {{ .Params.tldr }}
		        </div>{{ end }}

		        <section class="body">
			        {{ with .Site.GetPage "/homepage/index.md" }}{{ .Content }}{{ end }}
		        </section>

		        <div class="post-tags">
			        {{ if ne .Type "page" }}
			        {{ if gt .Params.tags 0 }}
			        <nav class="nav tags">
				        <ul class="tags">
					        {{ range .Params.tags }}
					        <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					        {{ end }}
				        </ul>
			        </nav>
			        {{ end }}
			        {{ end }}
		        </div>
	        </article>
        </main>
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
